[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "eregex.vim"]
	path = eregex.vim
	url = https://github.com/othree/eregex.vim
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
